<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
</head>

<body>

	<div style="font-size: 10px; font-family: Calibri;">
		<table align="center" cellpadding="0" cellspacing="0" style="max-width: 700px; word-break: break-word">
			<tr>
				<td>
					<table style="display: table-cell; width: 700px; margin: 0 auto;">
						<tr>
							<td>

								<table>
									<tr>
										<td style="width: 125px; vertical-align: top;"><img th:src="${logoPath}"></img>
										</td>
										<td>
											<div style="background: #ccc; border: 1px solid #000; padding: 10px 15px; -webkit-print-color-adjust: exact;"
												class="grey-bx">
												<h1 style="font-size: 20px; margin: 0 0 10px;">MAX LIFE
													INSURANCE COMPANY LIMITED</h1>
												<p style="margin: 0;">
													Regd. Office: 419, Bhai Mohan Singh Nagar, Railmajra,
													Tehsil Balachaur, District, Nawanshahr, Punjab -144533 <br>Corporate
													Office: 11th &amp; 12th Floor, DLF Square, Jacaranda, Marg,
													DLF City, Gurugram, 122002, Haryana</br>
												</p>
											</div>
											<h2 style="font-size: 18px; text-align: center; margin-bottom: 0;">Group
												Credit Life Secure Application-cum-Health Declaration Form</h2>
										</td>
									</tr>
								</table>
								<table>
									<tr>
										<td></td>
									</tr>
								</table>
							</td>
						</tr>
					</table>
					<!-- <table cellpadding="5" cellspacing="0">
				<tr>
					<td style="color: #444;">Home Loan Group Policy No.</td>
					<td><strong><span th:text="${homeLoanGroupPlicyNo}"/></strong></td>
				</tr>
			</table> -->
					<table cellspacing="0" cellpadding="5">
						<tr>
							<td style="color: #444;">Type of Loan:</td>
							<td><strong><span th:text="${loanType}"></span></strong></td>
						</tr>
						<tr>
							<td style="color: #444;">Type of Coverage:</td>
							<td><strong><span th:text="${schemeType}"></span></strong></td>
						</tr>
					</table>

					<table width="100%" cellpadding="0" cellspacing="0">
						<tr>
							<td style="width: 50%;">
								<table cellpadding="5" cellspacing="0">
									<tr>
										<td style="color: #444;">PRODUCT NAME:</td>
										<td><strong>Max Life Group Credit Life Secure</strong></td>
									</tr>
								</table>
							</td>

							<td style="width: 50%;">
								<table cellpadding="5" cellspacing="0" align="left">
									<tr>
										<td style="color: #444;">GROUP POLICY HOLDER NAME:</td>
										<td><strong><span th:text="${groupPolicyHolderName}" /></strong></td>
									</tr>
								</table>

							</td>

						</tr>
					</table>
					<!-- <table cellspacing="0" cellpadding="5" width="100%">
				<tr>
					<td>
						<span style="color: #444;">Customer Relationship with Group Policyholder:</span>&nbsp; <strong><span th:text="${relationshipGpPolicyHolder}"/></strong>
					</td>
				</tr>
			</table> -->

					<table cellpadding="5" cellspacing="0">
						<tr>
							<td style="color: #444;">LOAN APPLICATION NO. (In case of
								Agri/Tractor Loans - Bar Code Number):</td>
							<td>
								<!-- <table cellpadding="3" border="1" cellspacing="0">
							<tr> 
								<td><strong><span th:text="${loanAppD1}"/></strong></td>
								<td><strong><span th:text="${loanAppD2}"/></strong></td>
								<td><strong><span th:text="${loanAppD3}"/></strong></td>
								<td><strong><span th:text="${loanAppD4}"/></strong></td>
								<td><strong><span th:text="${loanAppD5}"/></strong></td>
								<td><strong><span th:text="${loanAppD6}"/></strong></td>
								<td><strong><span th:text="${loanAppD7}"/></strong></td>
								<td><strong><span th:text="${loanAppD8}"/></strong></td>
								<td><strong><span th:text="${loanAppD9}"/></strong></td>
								<td><strong><span th:text="${loanAppD10}"/></strong></td>
								
							</tr>
						</table> --> <strong> <span th:text="${loanAppNumber}">
									</span>
								</strong>
							</td>
						</tr>
					</table>

					<table style="width: 100%; border-top: 1px solid #000;" cellspacing="0" cellpadding="0">
						<tr>
							<td></td>
						</tr>
					</table>
					<!-- <table cellspacing="0" cellpadding="5" >
				<tr>
					<td style="color: #444;">Name of the Life to be insured :</td>
					<td><strong><span th:text="${nameOfTheLifeToBeInsured}"/></strong></td>
				</tr>
			</table> -->
					<!-- <table width="100%" cellpadding="0" cellspacing="0">
				<tr>
					<td width="50%">
						<table cellspacing="0" cellpadding="5" >
							<tr>
								<td style="color: #444;">Type of Loan:</td>  
								<td><strong><span th:text="${loanType}"/></strong></td>
							</tr>
						</table>
					</td>
					<td width="50%">
						<table cellspacing="0" cellpadding="5" align="left">
							<tr>   
								<td style="color: #444;">Loan/Coverage Tenure:</td>
								<td><strong><span th:text="${loanTenure}"/> Years</strong></td>
							</tr>
						</table>
					</td>
				</tr>
			</table> -->

					<table width="100%" cellpadding="0" cellspacing="0">
						<tr>
							<td width="50%">
								<table cellspacing="0" cellpadding="5">
									<tr>
										<td style="color: #444;">Name:</td>
										<td><strong><span th:text="${customerFullName}"></span></strong></td>
									</tr>
								</table>
							</td>
						</tr>
						<tr>
							<td width="50%">
								<table cellspacing="0" cellpadding="5">
									<tr>
										<td style="color: #444;">Date of Birth:</td>
										<td><strong><span th:text="${customerDob}" /></strong></td>
									</tr>
								</table>
							</td>
							<td width="50%">
								<table cellspacing="0" cellpadding="5" align="left">
									<tr>
										<td width="90" style="color: #444; text-align: right;">Gender:</td>
										<td><strong><span th:text="${gender}" /></strong></td>
									</tr>
								</table>
							</td>
						</tr>
					</table>
					<!-- <table cellspacing="0" cellpadding="5" >
				<tr>
					<td style="color: #444;">Coverage Scheme Type:</td>
					<td><strong><span th:text="${schemeType}"/></strong></td>
				</tr>
			</table> -->
					<!-- <table cellspacing="0" cellpadding="5">
				<tr>
					<td style="color: #444;">Sum Assured =</td>
					<td><strong><span th:text="${sumAssured}"/> INR</strong></td>
					<td><strong>OR</strong></td>
				</tr>
			</table>
			<table cellspacing="0" cellpadding="5" width="100%">
				<tr>
					<td colspan="3" style="color: #444;">
						In case of lesser than total loan amount, please specify :
					</td>
					<td><strong></strong></td>
				</tr>
			</table> -->

					<table width="100%" cellpadding="0" cellspacing="0">
						<tr>
							<td>
								<table cellspacing="0" cellpadding="5">
									<tr>
										<td style="color: #444;">Mobile No.:</td>
										<td><strong><span th:text="${mobileNo}" /></strong></td>
									</tr>
								</table>
							</td>
							<!-- <td>
						<table cellspacing="0" cellpadding="5" align="left">
							<tr>
								<td style="color: #444;">Date of Birth:</td>
								<td><strong><span th:text="${customerDob}"/></strong></td>
							</tr>
						</table>
					</td> -->
						</tr>
					</table>

					<table cellspacing="0" cellpadding="5">
						<tr>
							<td style="color: #444;">Email ID:</td>
							<td><strong><span th:text="${customerEmail}" /></strong></td>
						</tr>
					</table>

					<table cellspacing="0" cellpadding="5" width="100%">
						<tr>
							<td><span style="color: #444;">Relationship with
									Group Policyholder:</span>&nbsp; <strong><span
										th:text="${relationshipGpPolicyHolder}" /></strong></td>
						</tr>
					</table>
					<table cellspacing="0" cellpadding="5" width="100%">
						<tr>
							<td><span style="color: #444;">Benefit Option :</span>&nbsp;
								<strong><span th:text="${ciriderType}" /></strong>
							</td>
						</tr>
					</table>
					<th:block th:if="${ciriderType == 'Base + Critical Illness (Accelerated Benefit) Rider'}">
						<table cellspacing="0" cellpadding="5" width="100%">
							<tr>
								<td><span style="color: #444;">Critical Illness
										(Accelerated Benefit) Rider Option* :</span>&nbsp; <strong><span
											th:text="${ciOption}" /></strong></td>
							</tr>
						</table>
					</th:block>
					<!-- 		<th:block th:if="${ciriderType == 'Base + Critical Illness (Accelerated Benefit) Rider'}">
					<table cellspacing="0" cellpadding="5" width="100%">
						<tr>
							<td><span style="color: #444;">Percentage Of Sum Assured :</span>&nbsp;
								<strong><span th:text="${percentageOfSumAssured}" /></strong></td>
						</tr>
					</table>
					</th:block>
					
					<th:block th:if="${ciriderType == 'Base + Critical Illness (Accelerated Benefit) Rider'}">
					<table cellspacing="0" cellpadding="5" width="100%">
						<tr>
							<td><span style="color: #444;">Ci Rider Sum Assured :</span>&nbsp;
								<strong><span th:text="${ciRiderSumAssured}" /></strong></td>
						</tr>
					</table>
					</th:block>
					
					<th:block th:if="${ciriderType == 'Base + Critical Illness (Accelerated Benefit) Rider'}">
					<table cellspacing="0" cellpadding="5" width="100%">
						<tr>
							<td><span style="color: #444;">Ci Tenure Years :</span>&nbsp;
								<strong><span th:text="${ciTenureYears}" /></strong></td>
						</tr>
					</table>
					</th:block> -->

					<table>
						<tr>
							<td><span> *Period of Insurance (In Years), ROI % and
									Sum Assured [* Details as per the Group Policyholder record] </span></td>
						</tr>
					</table>

					<table style="width: 100%; border-top: 1px solid #000;" cellspacing="0" cellpadding="0">
						<tr>
							<td></td>
						</tr>
					</table> <br /> <!-- plz don't remove this code -->
					<!--
		<table style="width: 100%; border-top: 1px solid #000;" cellspacing="0" cellpadding="0">
				<tr>
					<td>
						<strong>
							Occupation:
						</strong>
					</td>
				</tr>
		</table>
		
			<br/>
			<table cellspacing="0" width="100%" cellpadding="5" style="border:1px solid #434343;margin-bottom:10px;">
			 	<thead>
                    <tr>
                        <th align="left"><span th:text="${occupation}"></span></th>
                    </tr>
                </thead>
                <tbody>
				<tr th:each="map : ${savedAnswer}">
					<th:block th:switch="${map.get('type')}">
						<th:block th:case="'OCCUPATION'">
							<td style="border-top:1px solid #434343">
								<span th:text="${map.get('question') + ': '}"></span>
								<th:block th:switch="${map.get('qType')}">
									<th:block th:case="'DESCRIPTION_TYPE'">
											<strong>
											<span th:text="${map.get('description')}"></span>
											</strong>
									</th:block>
									<th:block th:case="'REMARK_TYPE'">
											<strong>
												<span th:text = "${map.get('flag')}"></span>
										        <span th:text = "${map.get('description')}"></span>											
											</strong>
									</th:block>
									<th:block th:case="'YES_NO_TYPE'">
											<strong>
												<span th:text="${map.get('flag')}"></span>
											</strong>
									</th:block>
									<th:block th:case="'DATE_TYPE'">
										<strong>
											<span th:text="${map.get('description')}"></span>	
										</strong>
									</th:block>
									<th:block th:case="'LISTING_TYPE'">
										<th:block th:each="option : ${map.get('selectedOptions')}">
											<strong><span th:text = "${option.value}"></span></strong>
										</th:block>
									</th:block>
									<th:block th:case="'MULTIPLE_SELECTION_TYPE'">
										<th:block  th:each="option : ${map.get('selectedOptions')}">
											<strong>
											<span th:text = "${option.value}"></span>
											</strong>
										</th:block>
									</th:block>
								</th:block>
								</td>
						</th:block>
					</th:block>
				</tr>
			</tbody>
		</table> -->

					<table cellspacing="0" cellpadding="5">
						<tr>
							<th:block th:if="${financePrimum == 'false' or financePrimum == 'No'}">
								<td>Address</td>
						<tr>
							<td style="width: 50%;">
								<table cellpadding="5" cellspacing="0">
									<tr>
										<td style="color: #444;">Address Line 1:</td>
										<td><strong><span th:text="${address1}"></span></strong></td>
									</tr>
									<tr>
										<td style="color: #444;">Address Line 3:</td>
										<td><strong><span th:text="${address3}"></span></strong></td>
									</tr>
									<tr>
										<td style="color: #444;">Town:</td>
										<td><strong><span th:text="${town}"></span></strong></td>
									</tr>
									<tr>
										<td style="color: #444;">State:</td>
										<td><strong><span th:text="${state}"></span></strong></td>
									</tr>
								</table>
							</td>

							<td style="width: 50%;">
								<table cellpadding="5" cellspacing="0" align="left">
									<tr>
										<td style="color: #444;">Address Line 2:</td>
										<td><strong><span th:text="${address2}" /></strong></td>
									</tr>
									<tr>
										<td style="color: #444;">Street:</td>
										<td><strong><span th:text="${street}" /></strong></td>
									</tr>
									<tr>
										<td style="color: #444;">Pincode:</td>
										<td><strong><span th:text="${pincode}" /></strong></td>
									</tr>
									<tr>
										<td style="color: #444;">Country:</td>
										<td><strong><span th:text="${country}" /></strong></td>
									</tr>
								</table>

							</td>

						</tr>
						</th:block>
			</tr>

			<tr>
				<td>Resident Type:</td>
				<td><strong><span th:text="${nationality}"></span></strong></td>
				<th:block th:if="${nationality == 'Other'}">
					<td>If others, please specify place of residence: <strong><span
								th:text="${otherPlace}"></span></strong></td>
				</th:block>

			</tr>
		</table>

		<!-- <table>
			<tr>
				<td>
					<h3 style="text-align: center; font-size: 10px;">DECLARATION
						OF GOOD HEALTH</h3>
				</td>
			</tr>
		</table> -->
		<table style="width: 100%; border-top: 1px solid #000;" cellspacing="0" cellpadding="0">
			<tr>
				<td></td>
			</tr>
		</table> <br /> <br />






		<div>
			<h4>Health Declaration</h4>
			<span><b>Height:</b><span th:text="${height}"></span></span><span>(in CMs)</span>
			<span style="padding-left: 50px;"><b>Weight:</b><span th:text="${weight}"></span></span><span>(in
				KGs)</span> <br /><br />
			<th:block>
				<table cellspacing="0" width="100%" cellpadding="5"
					style="border: 1px solid #434343; margin-bottom: 10px;">
					<thead>
						<tr>
							<td style="border-top: 1px solid #434343; text-align: left;">1. Do you have any life or
								health insurance policy issued/pending/lapsed with Max Life Insurance Company Ltd.
								<strong>question ticked as <span th:if="${sfqHealthFirstAnswer != null}"
										th:text="Yes"></span>
									<span th:if="${sfqHealthFirstAnswer == null}" th:text="No"></span></strong>
							</td>
						</tr>
					</thead>
					<tbody>
						<tr style="max-width: 100px">

							<th:block th:if="${sfqHealthFirstAnswer != null}">
								<td
									style="border-top: 1px solid #434343; max-width: 100%;text-overflow: ellipsis;word-break: break-all;   text-align: left;">


									<th:block>
										<strong><span>Details:</span></strong>
										<span th:text="${sfqHealthFirstAnswer}"></span>
									</th:block>


								</td>
							</th:block>

						</tr>
					</tbody>
				</table>
			</th:block>
			<th:block>
				<table cellspacing="0" width="100%" cellpadding="5"
					style="border: 1px solid #434343; margin-bottom: 10px;">
					<thead>
						<tr>
							<td style="border-top: 1px solid #434343;text-align: left;">2.Have you consulted any doctor
								for treatment or are under treatment for any ailment other than common cough or cold or
								undergone any surgical operation at a hospital or clinic or undergone any investigations
								with other than normal or negative results (including X rays, ECG, blood tests, biopsies
								etc.) or have you been absent from work due to any illness or injury for a continuous
								period of more than 7 days during the last 5 years or is any surgery planned or are you
								currently aware that you may need to seek medical advice in the near future
								<strong>question ticked as <span th:if="${sfqHealthSecondAnswer != null}"
										th:text="Yes"></span>
									<span th:if="${sfqHealthSecondAnswer == null}" th:text="No"></span></strong>
							</td>
						</tr>
					</thead>
					<tbody>
						<tr style="max-width: 100px">

							<th:block th:if="${sfqHealthSecondAnswer != null}">
								<td
									style="border-top: 1px solid #434343; max-width: 100%;text-overflow: ellipsis;word-break: break-all;">


									<th:block>
										<strong><span>Details:</span></strong>
										<span th:text="${sfqHealthSecondAnswer}"></span>

									</th:block>


								</td>
							</th:block>

						</tr>
					</tbody>
				</table>
			</th:block>

			<th:block>
				<table cellspacing="0" width="100%" cellpadding="5"
					style="border: 1px solid #434343; margin-bottom: 10px;">
					<thead>
						<tr>
							<td style="border-top: 1px solid #434343;text-align: left;">3.Have you ever been diagnosed
								with or received treatment for any disability or medical condition such as but not
								limited to high cholesterol, any complaints of blood pressure disorders, chest pain, any
								heart disease , raised blood sugars or diabetes, stroke, transient ischemic attack or
								any other cerebrovascular disease , paralysis, cancer or any tumor, lump of any kind,
								asthma or any other respiratory disease, mental or any neurological disease or disorder,
								any liver disease (including Hepatitis B or C), any blood disorders (including anemia),
								any digestive and bowel disorder, thyroid or any other endocrine disorder, kidney and
								urinary tract disease,; prostate or gynecological disorder, any disorder of the bones,
								spine or muscle, muscle ,deformity, amputation or arthritis , problems of stones in any
								organ in the body, HIV infection, AIDS or AIDS related complex or do you have any
								congenital/birth defects or any other medical condition not listed above

								<strong>question ticked as <span th:if="${sfqHealthThirdAnswer != null}"
										th:text="Yes"></span>
									<span th:if="${sfqHealthThirdAnswer == null}" th:text="No"></span></strong>
							</td>
						</tr>
					</thead>
					<tbody>
						<tr style="max-width: 100px">

							<th:block th:if="${sfqHealthThirdAnswer != null}">
								<td
									style="border-top: 1px solid #434343; max-width: 100%;text-overflow: ellipsis;word-break: break-all;">


									<th:block>
										<strong><span>Details:</span></strong>
										<span th:text="${sfqHealthThirdAnswer}"></span>

									</th:block>


								</td>
							</th:block>

						</tr>
					</tbody>
				</table>
			</th:block>
			<th:block>
				<table cellspacing="0" width="100%" cellpadding="5"
					style="border: 1px solid #434343; margin-bottom: 10px;">
					<thead>
						<tr>
							<td style="border-top: 1px solid #434343;text-align: left;">4.Have any of your applications,
								including applications for life, critical illness, health, accident or any other riders
								including simultaneous/renewals/revivals ever been declined, deferred, withdrawn or
								accepted at extra premium or reduced cover or offered any special terms by Max Life or
								any other insurance company in India or overseas
								<strong>question ticked as <span th:if="${sfqHealthFourthAnswer != null}"
										th:text="Yes"></span>
									<span th:if="${sfqHealthFourthAnswer == null}" th:text="No"></span></strong>
							</td>
						</tr>
					</thead>
					<tbody>
						<tr style="max-width: 100px">

							<th:block th:if="${sfqHealthFourthAnswer != null}">
								<td
									style="border-top: 1px solid #434343; max-width: 100%;text-overflow: ellipsis;word-break: break-all;">


									<th:block>
										<strong><span>Details:</span></strong>
										<span th:text="${sfqHealthFourthAnswer}"></span>

									</th:block>


								</td>
							</th:block>

						</tr>
					</tbody>
				</table>
			</th:block>
			<th:block>
				<table cellspacing="0" width="100%" cellpadding="5"
					style="border: 1px solid #434343; margin-bottom: 10px;">
					<thead>
						<tr>
							<td style="border-top: 1px solid #434343;text-align: left;">5.Have you ever been involved or
								planning to be involved in an occupation, sport or hobby of a dangerous or hazardous
								nature such as mining, diving, mountaineering, parachuting, private aviation, racing,
								etc.
								<strong>question ticked as <span th:if="${sfqHealthFifthAnswer != null}"
										th:text="Yes"></span>
									<span th:if="${sfqHealthFifthAnswer == null}" th:text="No"></span></strong>
							</td>
						</tr>
					</thead>
					<tbody>
						<tr style="max-width: 100px">

							<th:block th:if="${sfqHealthFifthAnswer != null}">
								<td
									style="border-top: 1px solid #434343; max-width: 100%;text-overflow: ellipsis;word-break: break-all;">


									<th:block>
										<strong><span>Details:</span></strong>
										<span th:text="${sfqHealthFifthAnswer}"></span>

									</th:block>


								</td>
							</th:block>

						</tr>
					</tbody>
				</table>
			</th:block>
			<th:block>
				<table cellspacing="0" width="100%" cellpadding="5"
					style="border: 1px solid #434343; margin-bottom: 10px;">
					<thead>
						<tr>
							<td style="border-top: 1px solid #434343;text-align: left;">6.Do you have any parent and /or
								brother or sister who has suffered/suffering from, or died under the age of 60 due to
								any of the following conditions: Heart disease, diabetes, stroke, hypertension, raised
								cholesterol, cancer, multiple sclerosis, Alzheimer disease, Parkinson disease or any
								hereditary disease
								<strong>question ticked as <span th:if="${sfqHealthSixthAnswer != null}"
										th:text="Yes"></span>
									<span th:if="${sfqHealthSixthAnswer == null}" th:text="No"></span></strong>
							</td>
						</tr>
					</thead>
					<tbody>
						<tr style="max-width: 100px">

							<th:block th:if="${sfqHealthSixthAnswer != null}">
								<td
									style="border-top: 1px solid #434343; max-width: 100%;text-overflow: ellipsis;word-break: break-all;">


									<th:block>
										<strong><span>Details:</span></strong>
										<span th:text="${sfqHealthSixthAnswer}"></span>

									</th:block>


								</td>
							</th:block>

						</tr>
					</tbody>
				</table>
			</th:block>
			<th:block th:if="${isCovidActive == 'Yes'}">
				<table cellspacing="0" width="100%" cellpadding="5"
					style="border: 1px solid #434343; margin-bottom: 10px;">
					<thead>
						<tr>
							<td style="border-top: 1px solid #434343;text-align: left;">7.A.Are you, or your family have
								you been in close contact with anyone who has been quarantined or who has been diagnosed
								with COVID-19 or been serving a notice of quarantine or been advised to be tested to
								rule out COVID-19 or awaiting the result of COVID-19 test
								<strong>question ticked as <span th:if="${covidFirstAnswer != null}"
										th:text="Yes"></span>
									<span th:if="${covidFirstAnswer == null}" th:text="No"></span></strong>
							</td>
						</tr>
					</thead>
					<tbody>
						<tr style="max-width: 100px">
							<th:block th:if="${covidFirstAnswer != null}">
								<td
									style="border-top: 1px solid #434343; max-width: 100%;text-overflow: ellipsis;word-break: break-all;">
									<th:block>
										<strong><span>Details:</span></strong>
										<span th:text="${covidFirstAnswer}"></span>
									</th:block>
								</td>
							</th:block>

						</tr>
					</tbody>
					<thead>
						<tr>
							<td style="border-top: 1px solid #434343;text-align: left;">
								7.B. Have you, or your family members travelled overseas post in last one month or have
								any plans to travel Overseas in next 6 Months <strong> question ticked as
									<span th:if="${covidSecondAnswer != null}" th:text="Yes"></span>
									<span th:if="${covidSecondAnswer == null}" th:text="No"></span></strong><br /><br />

							</td>
						</tr>
					</thead>
					<tbody>
						<tr style="max-width: 100px">
							<th:block th:if="${covidSecondAnswer != null}">
								<td
									style="border-top: 1px solid #434343; max-width: 100%;text-overflow: ellipsis;word-break: break-all;">
									<th:block>
										<strong><span>Details:</span></strong>
										<span th:text="${covidSecondAnswer}"></span>
									</th:block>
								</td>
							</th:block>

						</tr>
					</tbody>
					<thead>
						<!-- <tr>
							<td style="border-top: 1px solid #434343;text-align: left;">
								7.C. Have ever been advised to self-isolate/quarantined or location of your residence
								is quarantined by Health/government authorities due to COVID-19 (excluding mandatory
								government orders to remain at home),<strong>question ticked as <span
										th:if="${covid.get('thirdAnswer_b') != null}" th:text="Yes"></span>
									<span th:if="${covid.get('thirdAnswer_b') == null}" th:text="No"></span></strong> -->

						<tr>
							<td style="border-top: 1px solid #434343;text-align: left;">
								7.C. a. Have you ever<br /><br />
								i. tested positive for COVID19, or <strong>question ticked as
									<span th:text="${testCovidFirstAnswer}"></span></strong><br /><br />

								ii. Self-isolated with symptoms on medical advice <strong> question ticked as
									<span th:text="${testCovidSecondAnswer}"></span></strong><br /><br />

							</td>

						</tr>
						<tr>
							<th:block th:if="${testCovidFirstAnswer == 'Yes' or testCovidSecondAnswer == 'Yes'}">
								<td>
									If yes to any of the above <br /><br />
									a. When was this <strong>question stated as <span
											th:text="${testCovidThirdAnswer}"></span></strong><br /><br />

									b. Have you made a fully recovery <strong> question ticked as
										<span th:if="${testCovidFourthAnswer != null}" th:text="Yes"></span>
										<span th:if="${testCovidFourthAnswer == null}"
											th:text="No"></span></strong><br /><br />

									<th:block th:if="${testCovidFourthAnswer != null}">
										<strong><span>Details:</span></strong>
										<span th:text="${testCovidFourthAnswer}"></span>
									</th:block>



									<!-- c. Covid Test Reports: -->

								</td>
							</th:block>
						</tr>

						<!-- </td>
						</tr> -->

					</thead>

					<!-- <tbody>
						<tr style="max-width: 100px">
							<th:block
								th:if="${covid.get('thirdAnswer_a') != null and covid.get('thirdAnswer_b') == null}">
								<td
									style="border-top: 1px solid #434343; max-width: 100%;text-overflow: ellipsis;word-break: break-all;">
									<th:block>
										<strong><span>Files:</span></strong>
										<span th:text="${covid.get('thirdAnswer_a')}"></span>
									</th:block>
								</td>
							</th:block>

						</tr>
					</tbody> -->
					<thead>
						<tr>
							<td style="border-top: 1px solid #434343;text-align: left;">
								7.D. In the last 1 month have you - had persistent cough, fever, shortness of breath,
								tiredness, sore throat, rhinorrhea (mucus discharge from nose) or nausea, vomiting,
								diarrhea like gastrointestinal symptoms <strong>question ticked as <span
										th:if="${covidThirdAnswer_a != null}" th:text="Yes"></span>
									<span th:if="${covidThirdAnswer_a == null}" th:text="No"></span></strong>


						<tr th:if="${covidThirdAnswer_a != null}">
							<td>
								If yes to any of the above <br /><br />
								a. When was this <strong>question stated as <span
										th:text="${covidThirdAnswer_a}"></span>
								</strong><br /><br />
								b. Have you consulted doctor or fully recovered <strong> question ticked as
									<span th:if="${covidThirdAnswer_b != null}" th:text="Yes"></span>
									<span th:if="${covidThirdAnswer_b == null}"
										th:text="No"></span></strong><br /><br />

								<th:block th:if="${covidThirdAnswer_b != null}">
									<strong><span>Details:</span></strong>
									<span th:text="${covidThirdAnswer_b}"></span>
								</th:block>
							</td>
						</tr>

						</td>
						</tr>

					</thead>
					<!-- <tbody>
						<tr style="max-width: 100px">
							<th:block
								th:if="${covid.get('thirdAnswer_a') != null and covid.get('thirdAnswer_b') == null}">
								<td
									style="border-top: 1px solid #434343; max-width: 100%;text-overflow: ellipsis;word-break: break-all;">
									<th:block>
										<strong><span>Details:</span></strong>
										<span th:text="${covid.get('thirdAnswer_a')}"></span>
									</th:block>
								</td>
							</th:block>

						</tr>
					</tbody> -->
					<thead>
						<tr>
							<td style="border-top: 1px solid #434343;text-align: left;">
								7.E. Have you been vaccinated for COVID19 <strong>question ticked as <span
										th:if="${isVaccinated==true}" th:text="Yes"></span>
									<span th:if="${isVaccinated==false}" th:text="No"></span></strong>

						<tr th:if="${isVaccinated==true}">
							<td>
								If yes to any of the above <br /><br />
								a. Date of First Dose:
								<span th:text="${firstDoseDate}"></span><br /><br />
								b. Date of Second Dose :
								<span th:text="${secondDoseDate}"></span><br /><br />
								c.Name of vaccine:
								<span th:text="${vaccineName}"></span><br /><br />
								d.Any adverse reactions experienced from Vaccine:
								<span th:text="${declaration}"></span><br /><br />
								<!-- e.Copy of vaccination certificate: -->

							</td>

						</tr>
						</td>
						</tr>


					</thead>

					<!-- <tbody>
						<tr style="max-width: 100px">
							<th:block
								th:if="${covid.get('thirdAnswer_a') != null and covid.get('thirdAnswer_b') == null}">
								<td
									style="border-top: 1px solid #434343; max-width: 100%;text-overflow: ellipsis;word-break: break-all;">
									<th:block>
										<strong><span>Files:</span></strong>
										<span th:text="${covid.get('thirdAnswer_a')}"></span>
									</th:block>
								</td>
							</th:block>

						</tr>
					</tbody> -->


				</table>
			</th:block>

			<th:block>
				<table cellspacing="0" width="100%" cellpadding="5"
					style="border: 1px solid #434343; margin-bottom: 10px;">
					<thead>
						<tr>
							<td style="border-top: 1px solid #434343;text-align: left;">8.Do you smoke or consume
								tobacco in any form like chewing tobacco <strong> question ticked as
									<span th:if="${smoker==true}" th:text="Yes"></span>
									<span th:if="${smoker==false}" th:text="No"></span></strong></td>
						</tr>
					</thead>
					<tbody>
						<tr style="max-width: 100px">

							<th:block th:if="${smoker==true}">
								<td
									style="border-top: 1px solid #434343; max-width: 100%;text-overflow: ellipsis;word-break: break-all;">


									<th:block>
										<strong><span>Smoke per Day:</span></strong>
										<span th:text="${smokePerDay}"></span>
									</th:block>


								</td>
							</th:block>

						</tr>
					</tbody>

				</table>
			</th:block>

		</div> <br></br>

		<th:block th:if="${proposerExit == 'true'}">
			<table width="100%" cellspacing="0" cellpadding="0">
				<tr>
					<td colspan="2">
						<p style="padding: 5px; font-size: 12px;">Proposer Details:
							(If borrower is less than 18 years, Proposer is mandatory.
							Proposer must be above 18 years of Age)</p>
					</td>
				</tr>
				<tr>
					<td width="50%">
						<table cellspacing="0" cellpadding="5">
							<tr>
								<td>Name of Proposer:</td>
								<td><strong><span th:if="${proFullname != null}" th:text="${proFullname}" /><span
											th:if="${proFullname == null}"> </span></strong></td>
							</tr>
						</table>
					</td>
					<td width="50%">
						<table cellspacing="0" cellpadding="5" align="left">
							<tr>
								<td>Relationship with the Assured:</td>
								<td><strong><span th:if="${proRelationWithAssured != null}"
											th:text="${proRelationWithAssured}" /><span
											th:if="${proRelationWithAssured == null}"> </span></strong></td>
							</tr>
						</table>
					</td>
				</tr>
			</table>

			<table width="100%" cellspacing="0" cellpadding="0">
				<tr>
					<td width="50%">
						<table cellspacing="0" cellpadding="5">
							<tr>
								<td>Date of Birth:</td>
								<td><strong><span th:if="${proDob != null}" th:text="${proDob}" /><span
											th:if="${proDob == null}">
										</span></strong></td>
							</tr>
						</table>
					</td>
					<td width="50%">
						<table cellspacing="0" cellpadding="5" align="left">
							<tr>
								<td width="125" align="right">Gender:</td>
								<td><strong><span th:if="${proGender != null}" th:text="${proGender}" /><span
											th:if="${proGender == null}"> </span></strong></td>
							</tr>
						</table>
					</td>
				</tr>
			</table>
			<hr style="border-color: #000;" />
		</th:block>

		<table width="100%" cellspacing="0" cellpadding="0">
			<tr>
				<td width="50%">
					<table cellspacing="0" cellpadding="5">
						<tr>
							<td>Name of Beneficiary:</td>
							<td><strong><span th:text="${beneficiaryName}" /></strong></td>
						</tr>
					</table>
				</td>
				<td width="50%">
					<table cellspacing="0" cellpadding="5" align="left">
						<tr>
							<td>Relationship with the Assured:</td>
							<td><strong><span th:text="${beneficiaryRelationWithAssured}" /></strong></td>
						</tr>
					</table>
				</td>
			</tr>
		</table>

		<table width="100%" cellspacing="0" cellpadding="0">
			<tr>
				<td width="50%">
					<table cellspacing="0" cellpadding="5">
						<tr>
							<td>Date of Birth:</td>
							<td><strong><span th:text="${beneficiaryDob}" /></strong></td>
						</tr>
					</table>
				</td>
				<td width="50%">
					<table cellspacing="0" cellpadding="5" align="left">
						<tr>
							<td width="125" align="right">Gender:</td>
							<td><strong><span th:text="${beneficiaryGender}" /></strong></td>
						</tr>
					</table>
				</td>
			</tr>
		</table>
		<th:block th:if="${appointeeExist == 'true'}">
			<hr style="border-color: #000;" />
			<table width="100%" cellspacing="0" cellpadding="0">
				<tr>
					<td colspan="2">
						<p style="padding: 5px; font-size: 12px;">Please provide
							Appointee details in case Beneficiary is minor i.e., not
							attained the age of 18 years</p>
					</td>
				</tr>
				<tr>
					<td width="50%">
						<table cellspacing="0" cellpadding="5">
							<tr>
								<td>Name of Appointee:</td>
								<td><strong><span th:if="${appointeeName != null}" th:text="${appointeeName}" /><span
											th:if="${appointeeName == null}"> </span></strong></td>
							</tr>
						</table>
					</td>
					<td width="50%">
						<table cellspacing="0" cellpadding="5" align="left">
							<tr>
								<td>Relationship with the Beneficiary:</td>
								<td><strong><span th:if="${appointeeRelationWithBeneficiary != null}"
											th:text="${appointeeRelationWithBeneficiary}" /><span
											th:if="${appointeeRelationWithBeneficiary == null}">
										</span></strong></td>
							</tr>
						</table>
					</td>
				</tr>
			</table>

			<table width="100%" cellspacing="0" cellpadding="0">
				<tr>
					<td width="50%">
						<table cellspacing="0" cellpadding="5">
							<tr>
								<td>Date of Birth:</td>
								<td><strong><span th:if="${appointeeDob != null}" th:text="${appointeeDob}" /><span
											th:if="${appointeeDob == null}"> </span></strong></td>
							</tr>
						</table>
					</td>
					<td width="50%">
						<table cellspacing="0" cellpadding="5" align="left">
							<tr>
								<td width="135" align="right">Gender:</td>
								<td><strong><span th:if="${appointeeGender != null}"
											th:text="${appointeeGender}" /><span th:if="${appointeeGender == null}">
										</span></strong></td>
							</tr>
						</table>
					</td>
				</tr>
			</table>
		</th:block>



		<table cellspacing="0" cellpadding="5" width="100%">
			<tr>
				<td>
					<div>
						<hr style="border-color: #000;" />
						<p align=" justify">
							<strong>Please Note: </strong>
							Master Policyholder (MPH) has tied-up with Max Life Insurance Company Ltd.
							for “Max Life Group Credit Life Secure” policy, wherein MPH is the Master Policyholder.
							The policy offers protection to Loan customers of MPH against loan liability in case of
							an eventuality. The selected option `borrower’ or `co-borrower’ will only be covered as
							life insured under this policy. The insurance cover shall be equal to the Sum Assured
							(in no case should exceed the loan amount) opted by the life to be insured. In case
							'Reducing Cover' is opted, Sum Assured will reduce periodically as per the Sum Assured
							schedule. In case 'Level Cover' is opted, Sum Assured will remain constant throughout
							the term of coverage. Coverage is voluntary for all eligible members of the scheme and
							by signing this Application cum
							Declaration of Health Form you agree to enroll yourself within the Group Policy. Also,
							please note that completion of this Form does not mean automatic commencement of
							insurance coverage. This is only an Application cum Health Declaration Form. You may be
							required to undergo medical examinations if the need arises and the coverage is not
							effective while this application is under process. Insurance cover shall commence only
							after satisfactory completion of medical &amp; financial underwriting conducted by Max Life
							Insurance Co Ltd and subsequent written confirmation by Max Life Insurance Co Ltd
							conveying the Commencement of insurance coverage &amp; issuing a Certificate of Insurance.
						</p>
						<p align=" justify">
							<strong>Declaration: </strong>I hereby declare that I fully understand the meaning and scope
							of health declaration form and the questions contained above and am submitting the
							completed health declaration of my own volition. I further agree and declare that the
							statements and declarations herein shall be the basis of the insurance cover
							being extended on my life and that I have made complete, true and accurate disclosure of all
							the facts and circumstances as may be relevant. I have not withheld or
							suppressed any information or facts that may be relevant and material to enable the company
							to make an informed decision about the acceptability of the risk on my
							life. Should any statements /s be incomplete, false, wrong or inaccurate or misleading or
							should there be any omission/s or suppression on my part in disclosing the
							relevant information, the company shall have the right to cancel the insurance cover on my
							life, if issued and forfeit any payments received. I fully understand that
							the issuance of the policy shall be subject to my undergoing medical tests as per the
							company norms. I undertake to notify the company, forthwith in writing of any
							change in any of the statements made herein above subsequent to the signing of this Health
							Declaration Form and prior to acceptance of risk by the company. I also
							Understand that if I foreclose/fully repay the loan for any reason, then I have an option to
							either continue coverage as per original terms or opt to surrender the
							benefits under the policy. I/We authorize Max Life to appropriately adjust the amount of sum
							insured and/or coverage tenure depending upon the final premium amount remitted to Max Life
							by the Master Policyholder. I understand that the final coverage terms will be as per COI
							issued by Max Life.
						</p>

						<th:block> <b>
								<strong><u>Authorization by the individual member of the Group Life Insurance
										Scheme/Policy:</u></strong></b>
							<p align="justify" style="margin-top: 0px;">[Applicable only in respect of lender-borrower groups
								i.e (i) Reserve Bank of India (RBI) regulated Scheduled Banks (including Co-operative
								Banks), (ii) Non-Banking Financial Companies (NBFCs ) having Certificate of Registration
								from RBI, (iii) National Housing Board (NHB) Regulated Housing Finance Companies, (iv)
								National Minority Development Finance Corporation (NMDFC) and its State Channelizing
								Agencies, (v) Small Finance Banks regulated by RBI, (vi) Mutually Aided Cooperative
								Societies formed and registered under the applicable State Act concerning such
								Societies, (vii) Microfinance Companies registered under Section 8 of the Companies Act,
								2013, or (viii) any other entity as may approved by the IRDAI]: </p>
						</th:block>

						<!-- <p>I hereby authorize Max Life Insurance Company Limited ("Max Life") to pay the outstanding loan balance as provided in the Credit Account Statement (to be provided by the Master Policyholder) to <strong><span th:text="${groupPolicyHolderName}"/> </strong>("Master Policyholder"), in respect of the loan availed of by me from the Master Policyholder <strong><span th:text="${loanAppNumber}"/></strong> , by deducting the same from the claim proceeds payable to <strong><span th:text="${beneficiaryName}"/></strong> under this group policy on the happening of the insured event</p> -->
						<p align=" justify">
							I hereby authorize Max Life Insurance Company Limited (“Max
							Life”) to pay the outstanding loan balance as provided in the
							Credit Account Statement (to be provided by the Master
							Policyholder) to <span th:text="${groupPolicyHolderName}" />
							("Master Policyholder"), in respect of the loan availed of by
							me from the Master Policyholder (the application number of
							which is mentioned herein), by deducting the same from the
							claim proceeds payable to <strong><span th:text="${beneficiaryName}" /></strong> (my
							nominee/beneficiary)
							under this group policy on the happening of the insured event.
						</p>
						<!-- <p>I hereby authorized master policy holder to act and receive all amounts on my behalf.</p> -->

					</div>
				</td>
			</tr>
		</table>

		<table cellspacing="0" cellpadding="5" width="100%">
			<tr>
				<td>
					<div>
						<hr style="border-color: #000;" />
						<p>
							<strong>"I further give my consent to and authorize
								Max Life to pay other proceeds, if any, in favor of Master
								Policy Holder."</strong>
						</p>
					</div>
				</td>
			</tr>
		</table>

		<table width="100%" cellspacing="0" cellpadding="0">
			<tr>
				<!-- <td>
						<table>
							<tr>
								<td>Signature of Life to be insured:</td>
								<td><strong>OTP verified</strong></td>
							</tr>
						</table>
					</td> -->
				<td>
					<table>
						<tr>
							<td>Date:</td>
							<td><strong><span th:text="${signedDate}" /></strong></td>
						</tr>
					</table>
				</td>
				<td>
					<table>
						<tr>
							<td>Place:</td>
							<td><strong><span th:text="${place}" /></strong></td>
						</tr>
					</table>
				</td>
			</tr>
		</table>

		<hr style="border-color: #000;" />
		<table cellspacing="0" cellpadding="5" width="100%">
			<tr>
				<td><b> Declaration by Bank's Relationship Officer/Sales
						Manager/Channel Partner Representative </b></td>
			</tr>
			<tr>
				<td>
					<div align="justify">
						<ol style="padding-left: 20px;">
							<li>I/We hereby declare that I have fully explained the
								contents of Health Declaration Form to the life to be insured
								and I have truthfully recorded the answers given by the life
								to be insured.</li>
							<li>I/We have verified the signature, age and the income details as provided by the provided
								by the life assured (who is the primary borrower/ co-borrower) against records available
								with us, which are, Age Proof- School certificate/Passport/Birth Certificate/Driving
								License (please select) and Income Proof- Form 16/Income Tax returns /Latest Pay
								Slip/Appointment letter (please select)..</li>
							<li>All necessary information as required by Max Life Insurance Co. Ltd. is collected and
								presented herewith. Only standard age proof accepted</li>
						</ol>
					</div>
				</td>
			</tr>
		</table>
		<!-- <table>
				<tr>
					<td>
						<div>
							<hr style="border-color: #000;"/>
							<p><strong>Declaration by Bank </strong></p>
							<ol style="padding-left: 20px;">
								<li>We have verified the signature, age and the income details provided by the applicant(s) against records available with us, which are, Age Proof- School certificate/Passport/Birth Certificate/Driving License and Income Proof- Form 16/Income Tax returns /Latest Pay Slip/Appointment letter.</li>
								<li>All necessary information as required by Max Life Insurance Co. Ltd. is collected and presented herewith. Only standard age proof accepted.</li>
							</ol>
						</div>
					</td>
				</tr>
			</table> -->

		<table width="100%" cellspacing="0" cellpadding="0">
			<tr>
				<td>
					<table>
						<tr>
							<td>Date:</td>
							<td><strong><span th:text="${sfvTimestamp}"></span></strong></td>
						</tr>
					</table>
				</td>
			</tr>
		</table> <br /> <!-- <th:block th:if="${status == 'Verified'}"> -->
		<!-- <table width="100%" cellspacing="0" cellpadding="0">
				<tr> -->
		<hr style="border-color: #000;" />
		<th:block th:if="${ciriderType == 'Base + Critical Illness (Accelerated Benefit) Rider'}">
			<table width="100%" cellspacing="0" cellpadding="5">
				<tbody>
					<tr>
						<td><strong> Important notes :</strong></td>
					</tr>
					<tr>
						<td>
							<div align="justify">
								<ol style="padding-left: 20px;">
									<li><strong>Section 39: </strong> In case nomination
										facility is availed, section 39 of the Insurance Act, 1938
										as amended from time to time shall apply.</li>

									<li><b>Section 45: </b> No policy of the life insurance
										shall be called in question on any ground whatsoever after
										the expiry of three years from the date of issuance of
										policy, from the date of the Commencement of Risk or Revival
										of the policy or the date of the rider to the policy,
										whichever is later. However, insurer may question the Policy
										at any time within three years from the date of issuance of
										policy, from the date of Commencement of Risk or Revival of
										the policy or the date of the rider to the policy, whichever
										is later, on the ground of fraud, in which case insurer
										shall inform Proposer/Life Insured/Legal representatives in
										writing specifying the grounds and materials on which such
										decision is based. For other details please refer to Section
										45 of the Insurance Act, 1938 as amended from time to time.</li>

									<li><b>Section 41:</b>(1) No person shall allow or offer
										to allow, either directly or indirectly, as an inducement to
										any person to take or renew or continue an insurance in
										respect of any kind of risk relating to lives or property in
										India, any rebate of the whole or part of the commission
										payable or any rebate of the premium shown on the policy,
										nor shall any person taking out or renewing or continuing a
										policy accept any rebate, except such rebate as may be
										allowed in accordance with published prospectuses or table
										of the insurer: Provided that acceptance by an insurance
										agent of commission in connection with a policy of life
										insurance taken out by himself on his own life shall not be
										deemed to be acceptance of a rebate of premium within the
										meaning of this sub-section if at the time of such
										acceptance the insurance agent satisfies the prescribed
										conditions establishing that he is a bona fide insurance
										agent employed by the insurer. (2) Any person making default
										in complying with the provisions of this section shall be
										punishable with fine which may extend to ten lakhs rupees.</li>
								</ol>
							</div>
						</td>
					</tr>
				</tbody>
			</table>
		</th:block>
		<footer style="position: relative;">
			<span style="position: absolute; bottom: 0; right: 0;"> <strong>
					Authenticated via OTP <span th:text="${otp}"></span> shared for
					Application Number <span th:text="${loanAppNumber}"></span> on
					Mobile Number <span th:text="${mobileNo}"></span> on <span th:text="${otpTimestamp}"></span>
				</strong>
			</span>
		</footer>
		<!-- </tr>
			</table> -->
		<!-- </th:block> -->

		</td>
		</tr>
		</table>

	</div>
</body>

</html>